.stybtn{
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    box-sizing:border-box;
    overflow: auto;
    margin-bottom:1%;
    background-color: rgb(250, 250, 250);
}
.btnsty li{
list-style-type: none;
font-size:larger;
overflow: auto;
float: left;
padding: 1vw;
margin-bottom: 1vw;
color: white;
}
.comapact{
    color:rgb(246, 243, 243) !important;
    
}

.btnsty a{
    text-decoration: none;
    color: white;
    overflow:auto;
}
.container-fluid{
    background-color: rgb(74, 171, 235);
}
ul li a{
    color: aliceblue;
}
.btnbtnoutlinesuccess{
    color: aquamarine;
}

 li{
    list-style-type: none;
 }