<div class="style">
    <div class="img">
        <img [src]="imgurl">
    </div>
    <p>Lebanese-American media personality Mia Khalifa may have left the adult film industry but her popularity has not
        gone down. She often makes headlines for her raunchy pics on social media. But did you know that she once was
        supposed to enter Bigg Boss? Scroll down to know more.

        Back in 2015, Mia made a revelation of how much less money she made in the p*rn industry. Her revelation soon
        became a hot topic on social media. Soon reports of entering Salman Khan hosted reality show Bigg Boss began to
        make rounds on the internet.</p>
</div>