 
<div class="header">
<form [formGroup]="logfrm" (ngSubmit)="logbtn()">
  <div class="mb-3">
    <label for="fullname" class="form-label"><b>USERNAME</b></label>
    <input type="text" class="form-control" id="name" formControlName="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"><b>PASSWORD</b></label>
    <input type="password" class="form-control" id="pwd" formControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">REMEMBER</label>
  </div>
 <div>
    <button type="submit" class="btn btn-primary" [disabled]="!logfrm.valid">LOGIN</button>
 </div><br>
  <div *ngIf="userinvalid">
    <span style="color: red;">INVALID USER,PLEASE PRIVE THE CORRECT VALUE</span>
  </div>
  <div class="btn">
    <span>dont have an account? <a routerLink="/register">register</a></span>
  </div><br><br>
</form>
</div>
