
<div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wallpaperaccess.com/full/3214373.jpg"
                    class="d-block w-100" alt="..." style=" height: 500px;">
                <p>Essay on Library and Its Uses in English for Children and Students: Library is the physical building
                    or a room with the collection of books and resources accessible to a community. It consists of books
                    and resources on diverse genres and subjects. Libraries are important for healthy development of
                    society. It provide valuable services to meet the learning needs of the people. Libraries also
                    benefit the economy of our nation as people use them for research purposes and to improve their job
                    skills. They play an essential part in overall educational development of people and community.

                    Almost every educational institute around the world has a library, with facilities of reading and
                    issuance of books at very low charges. Many communities or societies also have their own libraries,
                    open for membership to all. Libraries play a significant role in spreading knowledge and keeping the
                    reading habit alive in people.</p>
            </div>
            <div class="carousel-item">
                <img src="https://wallpaperaccess.com/full/5487841.jpg"
                    class="d-block w-100" alt="..." style="width: 50%; height: 500px; ">
                <p>Introduction

                    Library is a place where there is huge collection of books and various other resources that are made
                    accessible for reading and reference purpose. People of every age group can find resources such as
                    books, magazines, periodicals, audios, videos and materials in other formats as per their reading
                    interests and tastes.

                    Uses of Libraries
                    Library provides access to various books, materials, resources and digital media for research,
                    information and knowledge. Libraries also provide services such as assistance in finding books of
                    one’s interest which can be done with the help of librarians.
                    Almost every educational institute around the world has a library, with facilities of reading and
                    issuance of books at very low charges. Many communities or societies also have their own libraries,
                    open for membership to all. Libraries play a significant role in spreading knowledge and keeping the
                    reading habit alive in people</p>
            </div>
            <div class="carousel-item">
                <img src="https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/74/2022/03/March-LearningCreation-TWFB-7.png"
                    class="d-block w-100" alt="..." style="width: 50%; height: 500px;">
                <p>Introduction

                    Library is a place where there is huge collection of books and various other resources that are made
                    accessible for reading and reference purpose. People of every age group can find resources such as
                    books, magazines, periodicals, audios, videos and materials in other formats as per their reading
                    interests and tastes.

                    Uses of Libraries
                    Library provides access to various books, materials, resources and digital media for research,
                    information and knowledge. Libraries also provide services such as assistance in finding books of
                    one’s interest which can be done with the help of librarians.
                    Almost every educational institute around the world has a library, with facilities of reading and
                    issuance of books at very low charges. Many communities or societies also have their own libraries,
                    open for membership to all. Libraries play a significant role in spreading knowledge and keeping the
                    reading habit alive in people</p>
            </div>
        </div>
    </div>
</div>